.barberText{
    color:goldenrod;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 48px;
    padding: 10vw 25vw;
    border: solid;
    
}

.barberContainer{
    height: 75vw;
    border: red solid;
    animation-name: pageLoadInFader;
    animation-duration: 1.5s;
    animation-play-state: running;
    
}
.menu{
    color: white;
    font-size: 4vh;
    padding-left: 55vw;
    border: dotted pink;
    
}

.menu ul{
    list-style-image: url('https://i.imgur.com/ZSPDaYQ.png');
    list-style-position: outside;
    text-align: center;
}

aside{
    color:green;
}

.emailLink{
    text-align: center !important;
    font-size: 4vh;
    color: white;
}

.emailLink a{
    font-size: 4vh;
    color:goldenrod;
}

@keyframes pageLoadInFader {
    0%   {filter: opacity(0%)}
    
    100%{filter: opacity(100%)}
}