.barberText{
    color:goldenrod;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 48px;
    padding: 10vw 25vw;
    border: solid;
    
}

.barberContainer{
    height: 75vw;
    width:100%;
    border: red solid;
    animation-name: pageLoadInFader;
    animation-duration: 1.5s;
    animation-play-state: running;
    
}
.menu{
    color: white;
    font-size: 4vh;
    padding-left: 2vw;
}

@keyframes pageLoadInFader {
    0%   {filter: opacity(0%)}
    
    100%{filter: opacity(100%)}
}