.homeText{
    color:goldenrod;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 48px;
    border: solid;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color:black;
    margin:auto;
    z-index: 4;
    position: absolute;
    

}

.homeContainer{
    
    
    height: 100%;
    width:100%;
    margin-left: 2vw;
    margin-right: 2vw;
    z-index:1
    
} 

.kar1{
    top: 1;
    
    z-index: 3;
}




  
