.homeText{
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 48px;
    border: solid;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 4vw;
    padding-top: 4vw;
    
    margin:auto;
    z-index: 4;
    position: absolute;
    top: 20%;
    
    text-align:center;
    border: none;
    width:100%;
    

}

.homeContainer{
    
    
    height: 60vw;
    width:100%;
    margin-left: 2vw;
    margin-right: 2vw;
    z-index:1;

    
} 

.carousel {
    margin-top:15vw;
    margin-left: 5vw;
    margin-right: 5vw;
    bottom: 15vw;
    filter: opacity(.4);
    box-shadow: 100 0 8px 8px rgb(230, 6, 6) inset;
  }

.carousel img{
    border-radius: 85px;
    height: 55vw;
}



.carousel-indicators li { visibility: hidden; }
.kar1{
    top: 1;
    
    z-index: 3;
}

.largeLogo{
font-family: 'Moon Dance', cursive;
font-size: 15vw;
margin-left: 1.5vw;
margin-top: 8vw;
color: goldenrod;
margin-bottom: 3vw;
}



  
